jadeserver/db.sqlite3
jadeserver/jadeserver/settings.py
.venv
venv
jadeserver/jade/__pycache__
jadeserver/jadeAssistant/__pycache__
jadeserver/jadeChat/__pycache__
jadeserver/jadeCore/__pycache__
jadeserver/jadeLauncher/__pycache__
jadeserver/jadeserver/__pycache__
jadeserver/jadeServerUtilities/__pycache__
jadeserver/jadesite/__pycache__

