jadeserver/db.sqlite3
jadeserver/jadeserver/settings.py
.venv
venv
jade/__pycache__
jadeAssistant/__pycache__
jadeChat/__pycache__
jadeCore/__pycache__
jadeLauncher/__pycache__
jadeserver/__pycache__
jadeServerUtilities/__pycache__
jadesite/__pycache__

