<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Jade Software</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <meta name="google-site-verification" content="CRG9Hokzy-GcuD3_oKspC7-hsKdZVYr9Bxy_-Yr9Pyk" />
    </head>

    <body>
        <div id="main">

            {% include "jadesite/nav.html"%}
            <br>
            <br>
            <br>
            <br>
            <div id="welcome-box">
                <div id="welcome">
                    <h1>Welcome to Jade</h1>
                </div>

                <div id="welcome-text">
                        <p>My name is Jade and I'm a virtual assistant designed to be as helpful as possible. I can open apps for you and answer some questions.</p>

                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
            <div id="big-box">
                <div id="jade-launcher">
                    <p>Jade Launcher</p>
                    <p id="app-desc">The Jade Launcher is the one and only place to launch apps like Jade Assistant, keep apps updated, and download new ones.</p>
                    <br>
                    <a href = "{% url 'jadesite:download' %}" id="BUTTON-download-big-box">Download</a>
                </div>

                <div id="jade-assistant">
                    <p>Jade Assistant</p>
                    <p id="app-desc">Jade Assistant is the virtual assistant that can help you open some apps, answer Q&A and change size to fit what you're working on.<br><br> You can download it in the Jade Launcher.</p>
                </div>
            </div>

            <div id="latest-posts-box">
                <!-- Thanks to heckj's answer here https://stackoverflow.com/questions/3484149/limit-number-of-characters-with-django-template-filter-->
                <h1>Latest posts</h1>

                <br>
                <div id="latest-posts-boxes">

                    <div id="post-boxes">
                        <h1 id="latest-post-head">{{ latestPost1.head | slice:":27" }}...</h1>
                        <div id="latest-post-text">
                            <p>{{ latestPost1.text | striptags | slice:":100" }}...</p>
                        </div>
                        <a href="{% url 'jadesite:post' %}?{{ latestPost1.code }}&" id="read-post-button">Read post</a>
                    </div>


                    <div id="post-boxes">
                        <h1 id="latest-post-head">{{ latestPost2.head | slice:":27" }}...</h1>
                        <div id="latest-post-text">
                            <p>{{ latestPost2.text | striptags | slice:":100" }}...</p>
                        </div>
                        <div id="latest-post-button-box">
                            <a href="{% url 'jadesite:post' %}?{{ latestPost2.code }}&" id="read-post-button">Read post</a>
                        </div>
                    </div>

                    <div id="post-boxes">
                        <h1 id="latest-post-head">{{ latestPost3.head | slice:":27" }}...</h1>
                        <div id="latest-post-text">
                            <p>{{ latestPost3.text | striptags | slice:":100" }}...</p>
                        </div>
                        <div id="latest-post-button-box">
                            <a href="{% url 'jadesite:post' %}?{{ latestPost3.code }}&" id="read-post-button">Read post</a>
                        </div>
                    </div>


                </div>


            </div>



            {% include "jadesite/footer.html"%}
        </div>
    </body>
</html>










