
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    
}

#nav-bar {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 95%;
	margin: 0 auto;
	height: 50px;
	display: flex;
    align-items: center;
	
	
}

#nav-img {
	width:60px;
	height:40px;
	padding-right: 10px;
	
}



#main {
	background: linear-gradient(270deg, #42c9a6, #16b7e1, #a85dfd);
    background-size: 600% 600%;

    -webkit-animation: mainGradient 30s ease infinite;
    -moz-animation: mainGradient 30s ease infinite;
    animation: mainGradient 30s ease infinite;
	
	height: 1000px;

}

@-webkit-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes mainGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#welcome {
	font-size:20px;
	font-family: GloberThin;
	text-align: center;
	height:70px;
}

#welcome-text {
	font-size:15px;
	font-family: GloberSemiBold;
	text-align: center;
	padding-right:100px;
	padding-left:100px;
	
}

#welcome-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	

	
}

@font-face {
	font-family: 'GloberSemiBold';
	src: local('Abc'),
		 url('../static/GloberSemiBold.otf') format("opentype");
  }

@font-face {
	font-family: 'GloberThin';
	src: local('Abc'),
		 url('../static/GloberThin.otf') format("opentype");
  }

#big-box {
	width: 100%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:300px;
	border-radius: 10px;
	display:flex;
	flex-direction:row;
	padding-top: 50px;
	padding-bottom:50px;


}

#jade-launcher {
	border: double 0.2em transparent;
 	border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(100deg, rgb(4, 204, 4), rgb(22, 186, 236), rgba(158, 5, 158, 0.87));
    background-origin: border-box;
    background-clip: content-box, border-box;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align: center;
	font-size: 25px;
	font-family: GloberSemiBold;
}

#jade-assistant {
	border: double 0.2em transparent;
 	border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(45deg, rgb(4, 204, 4), rgb(22, 186, 236), rgba(158, 5, 158, 0.87));
    background-origin: border-box;
    background-clip: content-box, border-box;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align: center;
	font-size: 25px;
	font-family: GloberSemiBold;

}

#jade-launcher > p {
	padding-top:20px;
}

#jade-assistant > p {
	padding-top:20px;
}

#app-desc {
	font-size: 15px;
	padding-left:10px;
	padding-right:10px;
	font-family: GloberSemiBold;

}

#BUTTON-download-big-box {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:10px;
	text-decoration: none;
}

#BUTTON-download-big-box:hover {
	background-color: rgb(0, 170, 100);
}

#BUTTON-download-big-box:active {
	background-color: rgb(0, 200, 120);
}

#nav-button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	text-decoration: none;
	text-align: center;
	margin-left:5px;
	margin-right:5px;
}

#nav-button:hover {
	background-color: rgb(0, 170, 100);
}

#nav-button:active {
	background-color: rgb(0, 200, 120);
}

#download-label {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: center;
	font-size:15px;
	font-family: GloberSemiBold;
	margin-top:40px;
}

#download-label > p {
	padding-left: 40px;
	padding-right: 40px;
}

#download-box {
	width: 100%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:200px;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom:50px;
	margin-top:50px;

}



#download-box-os {
	font-size:25px;
	font-family: GloberSemiBold;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#download-box-version {
	font-size:14px;
	font-family: GloberSemiBold;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}


#download-button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:10px;
	text-decoration: none;
	margin-left:20px;
	margin-right:20px;
	
}

#download-button:hover {
	background-color: rgb(0, 170, 100);
}

#download-button:active {
	background-color: rgb(0, 200, 120);
}

#download-button-box {
	align-items: center;
	height: 300px;
	text-align:center;
	margin-top:50px;
	
}

#footer {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 95%;
	margin: 0 auto;
	height: 50px;
	display: flex;
    align-items: center;
	margin-top:50px;
	text-align: center;
	
	
}

#footer > p {
	align-items: center;
	margin-left:auto;
	margin-right:auto;
	font-family: GloberSemiBold;
}


