
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    
}

#nav-bar {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 95%;
	margin: 0 auto;
	height: 50px;
	display: flex;
    align-items: center;
	
	
}

#nav-img {
	width:60px;
	height:40px;
	padding-right: 10px;
	
}



#main {
	background: linear-gradient(270deg, #42c9a6, #16b7e1, #a85dfd);
    background-size: 600% 600%;

    -webkit-animation: mainGradient 30s ease infinite;
    -moz-animation: mainGradient 30s ease infinite;
    animation: mainGradient 30s ease infinite;
	
    padding-bottom: 50px;
	margin: 0% auto 0;
	

}

#main-posts {
	background: linear-gradient(270deg, #42c9a6, #16b7e1, #a85dfd);
    background-size: 600% 600%;

    -webkit-animation: mainGradient 30s ease infinite;
    -moz-animation: mainGradient 30s ease infinite;
    animation: mainGradient 30s ease infinite;
	
    min-height:100%;
	padding-bottom: 50px;
	
	

}


#main-download {
	background: linear-gradient(270deg, #42c9a6, #16b7e1, #a85dfd);
    background-size: 600% 600%;

    -webkit-animation: mainGradient 30s ease infinite;
    -moz-animation: mainGradient 30s ease infinite;
    animation: mainGradient 30s ease infinite;
	
    height:900px;
	padding-bottom: 50px;
	
	

}

#main-contact {
	background: linear-gradient(270deg, #42c9a6, #16b7e1, #a85dfd);
    background-size: 600% 600%;

    -webkit-animation: mainGradient 30s ease infinite;
    -moz-animation: mainGradient 30s ease infinite;
    animation: mainGradient 30s ease infinite;
	
    height:900px;
	padding-bottom: 50px;
	

}

@-webkit-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes mainGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#welcome {
	font-size:20px;
	font-family: GloberThin;
	text-align: center;
	height:70px;
}

#welcome-text {
	font-size:15px;
	font-family: GloberSemiBold;
	text-align: center;
	padding-right:100px;
	padding-left:100px;
	
}

#welcome-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	

	
}

@font-face {
	font-family: 'GloberSemiBold';
	src: local('Abc'),
		 url('../static/GloberSemiBold.otf') format("opentype");
  }

@font-face {
	font-family: 'GloberThin';
	src: local('Abc'),
		 url('../static/GloberThin.otf') format("opentype");
  }

#big-box {
	width: 100%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:300px;
	border-radius: 10px;
	display:flex;
	flex-direction:row;
	padding-top: 50px;
	padding-bottom:50px;


}

#jade-launcher {
	border: double 0.2em transparent;
 	border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(100deg, rgb(4, 204, 4), rgb(22, 186, 236), rgba(158, 5, 158, 0.87));
    background-origin: border-box;
    background-clip: content-box, border-box;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align: center;
	font-size: 25px;
	font-family: GloberSemiBold;
}

#jade-assistant {
	border: double 0.2em transparent;
 	border-radius: 10px;
    background-image: linear-gradient(white, white), linear-gradient(45deg, rgb(4, 204, 4), rgb(22, 186, 236), rgba(158, 5, 158, 0.87));
    background-origin: border-box;
    background-clip: content-box, border-box;
	margin-left:auto;
	margin-right:auto;
	width:250px;
	text-align: center;
	font-size: 25px;
	font-family: GloberSemiBold;

}

#jade-launcher > p {
	padding-top:20px;
}

#jade-assistant > p {
	padding-top:20px;
}

#app-desc {
	font-size: 15px;
	padding-left:10px;
	padding-right:10px;
	font-family: GloberSemiBold;

}

#BUTTON-download-big-box {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:10px;
	text-decoration: none;
}

#BUTTON-download-big-box:hover {
	background-color: rgb(0, 170, 100);
}

#BUTTON-download-big-box:active {
	background-color: rgb(0, 200, 120);
}

#nav-button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	text-decoration: none;
	text-align: center;
	margin-left:5px;
	margin-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 14px;
}

#nav-button:hover {
	background-color: rgb(0, 170, 100);
}

#nav-button:active {
	background-color: rgb(0, 200, 120);
}

#download-label {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: center;
	font-size:15px;
	font-family: GloberSemiBold;
	margin-top:40px;
}

#download-label > p {
	padding-left: 40px;
	padding-right: 40px;
}

#download-box {
	width: 100%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:300px;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom:50px;
	margin-top:50px;

}



#download-box-os {
	font-size:25px;
	font-family: GloberSemiBold;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#download-box-version {
	font-size:14px;
	font-family: GloberSemiBold;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}


#download-button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:10px;
	text-decoration: none;
	margin-left:20px;
	margin-right:20px;
	
}

#download-button:hover {
	background-color: rgb(0, 170, 100);
}

#download-button:active {
	background-color: rgb(0, 200, 120);
}

#download-button-box {
	align-items: center;
	height: 150px;
	text-align:center;
	margin-top:50px;
	
}

#footer {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 95%;
	margin-top: 20px;
	margin-left:1.5%;
	margin-right:3.5%;
	height: 50px;
	
    align-items: center;
	
	text-align: center;
	padding-top:1px;
	padding-bottom:10px;
	position:fixed;
	bottom: 20px;
	
	
}

#footer > p {
	align-items: center;
	margin-left:auto;
	margin-right:auto;
	font-family: GloberSemiBold;
	font-size: 12px;
	
}

#download-having-trouble {
	font-family: GloberSemiBold;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 14px;
}

#contact-label-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin-top:50px;
	margin-top:50px;
}

#contact-label-box > h1 {
	text-align: center;
	font-size: 30px;
	font-family:GloberSemiBold;
}

#contact-label-box > p {
	text-align: center;
	font-size: 15px;
	font-family:GloberSemiBold;
}

#contact-me-email-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 80%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin-top:50px;
	margin-top:50px;
	height: 200px;
	align-items: center;
	text-align: center;
}

#contact-me-email-box > h1 {
	text-align: center;
	font-size: 30px;
	font-family:GloberSemiBold;
}

#contact-me-email-box > p {
	text-align: center;
	font-size: 15px;
	font-family:GloberSemiBold;
	margin-bottom: 20px;
	
}

#contact-me-email-button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:20px;
	margin-bottom:20px;
	text-decoration: none;
	text-align: center;
}

#contact-me-email-button:hover {
	background-color: rgb(0, 170, 100);
}

#contact-me-email-button:active {
	background-color: rgb(0, 200, 120);
}

#contact-me-github-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	width: 80%;
	border-radius: 10px;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top:20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin-top:50px;
	margin-top:50px;
	height: 200px;
	align-items: center;
	text-align: center;
}

#contact-me-github-box > h1 {
	text-align: center;
	font-size: 30px;
	font-family:GloberSemiBold;
}

#contact-me-github-box > p {
	text-align: center;
	font-size: 15px;
	font-family:GloberSemiBold;
	margin-bottom: 20px;
	
}

#contact-me-github-button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:20px;
	margin-bottom:20px;
	text-decoration: none;
	text-align: center;
}

#contact-me-github-button:hover {
	background-color: rgb(0, 170, 100);
}

#contact-me-github-button:active {
	background-color: rgb(0, 200, 120);
}

#post-box {
	width: 90%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:auto;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom:50px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px

}

#post-box > h1 {
	padding-left: 20px;
	font-family: GloberSemiBold;
	font-size: 25px;
	padding-right:20px;
}

#post-box > h2 {
	padding-left: 15px;
	font-family: GloberSemiBold;
	font-size: 25px;
	padding-right:20px;
}

#post-box > h3 {
	padding-left: 30px;
	font-family: GloberSemiBold;
	font-size: 15px;
}

#post-box > p {
	padding-left: 30px;
	padding-right: 30px;
	padding-top:10px;
	font-family: GloberSemiBold;
	font-size: 15px;
	
}

#latest-posts-box {
	width: 90%;
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	height:auto;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom:50px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	
	
}

#latest-posts-box > h1 {
	font-family: GloberSemiBold;
	text-align: center;
	font-size: 30px;
}

#read-post-button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	margin-top:10px;
	text-decoration: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	
}

#read-post-button:hover {
	background-color: rgb(0, 170, 100);
}

#read-post-button:active {
	background-color: rgb(0, 200, 120);
}


#latest-posts-boxes {
	display: flex;
	align-items: center;
	justify-content: space-around;

}

#latest-post-head {
	font-size:22px;
	text-align: left;
	font-family: GloberSemiBold;
	padding-left: 5px;

}

#latest-post-text {
	font-size:16px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;

}

#post-boxes {
	width:175px;
	/*border: 2px solid black;*/
	height:250px;
	
}


#beta {
	text-align: right;
	margin-left:auto;
	font-size: 16px;
	padding: 5px 10px 6px 10px;
	color: white;
	background-color: mediumorchid;
	border-radius: 5px;
}

#category-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 95%;
	margin: 0 auto;
	height: 50px;
	display: flex;
    align-items: center;
	margin-top:20px
}

#category-box > p {
	font-family: GloberSemiBold;
	font-size: 16px;
}

#category-box-button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	text-decoration: none;
	text-align: center;
	margin-left:5px;
	margin-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 14px;
}


#category-box-button:hover {
	background-color: rgb(0, 170, 100);
}

#category-box-button:active {
	background-color: rgb(0, 200, 120);
}

#allposts-results-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: fit-content;
	height: 40px;
	display: flex;
    align-items: center;
	margin-top:20px;
	margin-left:15px;
	font-size: 14px;
	font-family: GloberSemiBold;
}

#allposts-box {
	background-color: white;
	box-shadow: 3px 3px 2px gainsboro;
	font-family:arial;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	
	height: fit-content;
	
	margin-top:20px;
	margin-left:15px;
	margin-right:15px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	
}

#allposts-box-head {
	font-size: 28px;
	font-family: GloberSemiBold;

}

#allposts-box-date {
	font-size: 12px;

}

#allposts-box-text {
	font-size:16px;

}

#allposts-box-button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	background-color: rgb(0, 150, 80);
	border-radius: 10px;
	font: 10pt "Calibri";
	color:white;
	text-decoration: none;
	text-align: center;
	
	
	padding-top:3px;
	padding-bottom:3px;
	font-size: 14px;
}

#allposts-box-button:hover {
	background-color: rgb(0, 170, 100);
}

#allposts-box-button:active {
	background-color: rgb(0, 200, 120);
}


