<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'nfoertStyle.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include "nfoert/nav.html"%}
        <div id="index-imageBox">
        </div>

        <div id="index-welcomeBox">
            <h1>Hello! I'm nfoert.</h1>
            <p>I've been teaching myself how to code for the past couple of years. I created this blog because a lot of tutorials I've used no longer fully work and I've needed to do some adjusting. So I'm going to start making my own tutorials as well as post about the stuff I've been making.</p>
            <br>
            <button id="index-welcomeBox-buttonGitHub", class="hvr-grow", onclick="location.href='https://github.com/nfoert'">GitHub</button><button id="index-welcomeBox-buttonJadeSoftware", class="hvr-grow", onclick="location.href='https://nfoert.pythonanywhere.com/jadesite'">Jade Software</button>
        </div>
        <h1 id="index-latestPost-label">Latest posts</h1>
        <div id="index-latestPost-mainBox">
            <a href="{% url 'post' %}?{{ post1.code }}&">
                <div id="index-latestPost-mainBox-box", class="hvr-grow">
                    <h1 id="index-latestPost-mainBox-header">{{ post1.head | slice:":50" }}</h1>
                    <p id="index-latestPost-mainBox-date">{{ post1.date }}</p>
                    <p id="index-latestPost-mainBox-text">{{ post1.text | striptags | slice:":100" }}...</p>
                </div>
            </a>
            <a href="{% url 'post' %}?{{ post2.code }}&">
                <div id="index-latestPost-mainBox-box", class="hvr-grow">
                    <h1 id="index-latestPost-mainBox-header">{{ post2.head | slice:":50" }}</h1>
                    <p id="index-latestPost-mainBox-date">{{ post2.date }}</p>
                    <p id="index-latestPost-mainBox-text">{{ post2.text | striptags | slice:":100" }}...</p>
                </div>
            </a>
            <a href="{% url 'post' %}?{{ post3.code }}&">
                <div id="index-latestPost-mainBox-box", class="hvr-grow">
                    <h1 id="index-latestPost-mainBox-header">{{ post3.head | slice:":50" }}</h1>
                    <p id="index-latestPost-mainBox-date">{{ post3.date }}</p>
                    <p id="index-latestPost-mainBox-text">{{ post3.text | striptags | slice:":100" }}...</p>
                </div>
            </a>
        </div>
        <div id="index-latestPostButton">
            <a href="{% url 'allposts' %}", id="index-latestPostButton-button", class="hvr-grow">All posts</a>
        </div>
    </body>
</html>