<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    
    <body>
        <div id="main-download">
            {% include "nav.html"%}

            <div id="download-label">
                <br>
                <h1>Download the Jade Launcher</h1>
                <p>The Jade Launcher is the one and only place to download, update, and launch apps like Jade Assistant.</p>
            </div>

            <div id="download-box">
                <p id="download-box-os">Please select an OS</p>
                <p id="download-box-version">Version {{version}}</p>
                <div id="download-button-box">
                    <a href="https://nfoert.pythonanywhere.com/jadeLauncher/downloadInstaller?Windows&" id="download-button">Windows</a>
                    <a href= "https://nfoert.pythonanywhere.com/jadeLauncher/downloadInstaller?Mac&" id="download-button">Mac</a>
                </div>
                <p id="download-having-trouble">Having trouble downloading? Wait a while before trying again, use a different browser, or contact me.</p>
                
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% include "footer.html"%}
        </div>
        
    </body>

</html>