<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    
    <body>
        <div id="main">
            
            {% include "nav.html"%}
            <br>
            <br>
            <br>
            <br>
            <div id="welcome-box">
                <div id="welcome">
                    <h1>Welcome to Jade</h1>
                </div>
            
                <div id="welcome-text">
                        <p>My name is Jade and I'm a virtual assistant designed to be as helpful as possible. I can open apps for you and answer some questions.</p>
                
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <br>
            <div id="big-box">
                <div id="jade-launcher">
                    <p>Jade Launcher</p>
                    <p id="app-desc">The Jade Launcher is the one and only place to launch apps like Jade Assistant, keep apps updated, and download new ones.</p>
                    <br>
                    <a href = "{% url 'download' %}" id="BUTTON-download-big-box">Download</a>
                </div>

                <div id="jade-assistant">
                    <p>Jade Assistant</p>
                    <p id="app-desc">Jade Assistant is the virtual assistant that can help you open some apps, answer Q&A and change size to fit what you're working on.<br><br> You can download it in the Jade Launcher.</p>
                </div>

            </div>
            {% include "footer.html"%}
        </div>
    </body>
</html>










