<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    
    <body>
        <div id="main">
            <br id="top-break">
            {% include "nav.html"%}
            <br>
            <br>
            <br>
            <br>
            <div id="welcome-box">
                <div id="welcome">
                    <h1>Welcome to Jade</h1>
                </div>
            
                <div id="welcome-text">
                        <p>My name is Jade and i'm a virtual assistant designed to be as helpful as possible. I can open apps for you and answer some questions.</p>
                
                </div>
                
            </div>
            <br>
            <br>
            <br>
            <br>
            <div id="big-box">
                <div id="jade-launcher">
                    <p>Jade Launcher</p>
                </div>

                <div id="jade-assistant">
                    <p>Jade Assistant</p>
                </div>

            </div>
        </div>
    </body>
</html>










